body {
    background-color: #171220;
    color: #EAE3F5;
  }

  .another-font {
    font-family: courier, sans-serif;
    text-align: center;
    
  }

  div {
    text-align: center;
  }

  img {
    border-radius: 25%;
  }
  
  h4 {
    font-style: italic;
  }